<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-black">
        Lista de
        <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">Productos</mark>
    </h1>
    <br>


    <div class="overflow-x-auto relative rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Id
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Nombre
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Precio
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Imagen
                    </th>
                </tr>
            </thead>
            <tbody id="lista-productos"></tbody>
        </table>
    </div>
    <br>
</div>